html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: url(https://images.pexels.com/photos/1152359/pexels-photo-1152359.jpeg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.toggle-background {
  background: rgba(3, 0, 0, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  justify-content: space-between;
  width: 7%;
  border-radius: 40px;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.backdrop {
  background: rgba(3, 1, 1, 0.3);
  box-shadow: 0 8px 32px 0 rgba(146, 146, 146, 0.83);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 10px;
  width: 400px;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  border: 1px solid rgba(255, 255, 255, 0.18);
}

.newDiv {
  background: rgba(3, 1, 1, 0.3);
  box-shadow: 0 8px 32px 0 rgba(146, 146, 146, 0.83);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  border-radius: 10px;
  width: 20%;
  top: 4.5em;
  left: 0.5em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  position: absolute;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  border: 1px solid rgba(255, 255, 255, 0.18);
}

#to-do-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

li {
  color: whitesmoke;
  list-style-type: none;
}

.doneItem {
  text-decoration: line-through;
  /* background-color: white; */
  color: rgb(184, 184, 184);
  text-decoration-color: rgb(0, 208, 255);
}

.new {
  text-decoration: line-through;
  background-color: white;
  color: rgb(255, 255, 255);
  text-decoration-color: grey;
  font-size: 1.2rem;
}

#taskItem {
  width: 100%;
  padding-top: 0.4em;
  font-size: 18px;
  overflow-y: scroll;
  overflow-x: scroll;
  padding-bottom: 0.3em;
}

.clicker {
  background: rgba(3, 0, 0, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 5px;
  margin-left: 1em;
  font-size: 1.2rem;
  color: rgba(248, 248, 248, 0.849);
}

.tasks {
  display: flex;
  justify-content: space-between;
  overflow-wrap: anywhere;
  line-height: 1.8;
}

#list li {
  display: flex;
  justify-content: space-between;
}

h3 {
  color: white;
}

#list {
  width: 100%;
  padding: 0;
  /* margin: 0; */
}

#list > li:nth-of-type(even) {
  background-color: #e9e9f938;
}

.flexAno {
  justify-content: space-between;
  flex-direction: column;
  padding: 5px;
}

.liDiv {
  background-color: blue;
  height: 10px;
}

#notify {
  border: 0;
  outline: none;
  background: none;
  color: rgb(255, 255, 255);
  font-size: 2rem;
  cursor: pointer;

  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  /* animation-duration: 2s; */
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-play-state: running;
  overflow: hidden;
  margin-right: 25px;
}
#notify::before {
  content: "1";
  position: absolute;
  background: red;
  color: white;
  width: 15px;
  height: 18px;
  top: 16px;
  right: 30px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 50px;
}
.fa-comment-alt {
  cursor: pointer;
}

#completedTasks {
  background-color: rgba(255, 255, 255, 0.205);
  /* display: none; */
}

#compTasks {
  color: white;
}

#compTasks > li {
  background-color: transparent;
  text-decoration: none;
}

#completed {
  display: none;
}
.removeDiv {
  display: none;
  background-color: red;
}

.clearBtn {
  float: right;
}

.showCompleted {
  float: right;
}
/* animation part 1 */

/* header */
/* header{ position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width:100%;
    height: 100%;
    opacity: 0;
}
.overflow-bc{
   opacity: 0;
}
.containerB{
    position: relative;
    background: rgba(0, 0, 0, 0.664);
    height: 100vh;
    opacity: 0;
    overflow: hidden;
}
.whiteBc{
    /* width: 35%;
   position: absolute;
     top: 10%;
   left: 25%;
   height: 80%; 
   background: whitesmoke;
*/
header{
  overflow-x: hidden;
  overflow-y: hidden;
  display: block;
  width: 100%;
  height: 100%;

}
.overflow-bc{
  background: rgba(255, 255, 255, 0.137);
  display: block;
  position: absolute;
  width: calc(30%);
  top: 0;
  right: 0;
  
  animation-name: animeHide;
  animation-timing-function: ease-in-out;
  animation-duration: .8s;
  animation-fill-mode: backwards;
  animation-delay: .2s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  opacity: 0;
  transition: opacity .4s ease-in-out;
  
}
.anime{
  opacity: 1;
  transition: opacity .7s ease-in-out;
} 

.whiteBc{
  display: block;
  width: 100%;
  height: 100%;
  
}
.whiteBc h2{
  text-align: center;
  padding-top: 2rem;
 
  
}
.hide-h2{
   opacity: 0;
   transition: opacity .3s ease-in;
}
.hide-Li{
  opacity: 0;
  transition: opacity .4s ease-in;
}
.showh2{
   opacity: 1;
   visibility: visible;
   transition: opacity 1s ease-in-out;
}
.showLi{
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}
.whiteBc li{
  text-align: left;
  line-height: 1.4;
  list-style: disc;
  font-size: 1.2rem;
 
}
.whiteBc #close{
  font-size: 1.3rem;
  background-color: rgb(14, 13, 13);
  position: absolute;
  right: 30px;
  top: 15px;
  z-index: 2;
  font-weight: 900;
  color: white;
  border: 1px solid #fff;
  cursor: pointer;
  padding: .7rem;
  text-align: center;
  transition: all .1s ease-in-out;
  
}
.whiteBc #bulb{
  color: #ffef0f;
  
}
footer{
  background-color: rgba(0, 0, 0, 0.39);
  
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .2s ease-in-out; 
}
footer #close{
  color: rgb(19, 18, 18);
  font-size: 1.3rem;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: -1;
  font-weight: 900;
  cursor: pointer;
  background-color: white;
  padding: .7rem;
  opacity: 0;
}
.overlay{
 background-color: white;
 color: black;
 margin: 1rem;
 opacity: 0;
}

.overlay li{
 color: black;
 list-style: square;
}
